body { background: #FFF !important; }
.notice { background: #f1f1f1 !important; }

/*._xtra h2.nav-tab-wrapper { margin:22px 0 0 0 !important; }*/

.xtra-tab-wrapper {
	border: 1px solid #ccc;
	border-top: 0px;
	background: #f1f1f1;
}
